:root {
  /* colors */
  --cl-primary-blue: #1fc0fa;
  --cl-primary-darkblue: #045370;
  --cl-primary-lightgrey: #e7e6e6;

  --cl-secondary-lightgrey: #f5f5f5;
  --answer-red: rgb(250, 76, 111);
  --answer-green: rgb(126, 255, 126);
  /* font-size */
  --main-title: clamp(2.1rem, 2.5vw, 2.7rem);
  --section-title: clamp(1.5rem, 1.7vw, 1.9rem);
  --main-text: clamp(1.25rem, 1.4vw, 1.4rem);
  --section-text: clamp(1.1rem, 1.3vw, 1.3rem);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: "Segoe UI";
  background: #e7e6e6;
  color: hsl(209, 61%, 16%);
  line-height: 1.5rem;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*/////////////*/
.home_page {
  /* height: 100%; */
}

.home_page1 {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 600;
  color: var(--cl-primary-blue);
}

.home_page2 {
  background-image: url("./img/imgtower.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
  width: 70vw;
  margin: auto;
}

.home_page3 {
  height: 100%;
  background-color: var(--cl-primary-blue);
}

.home-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.home-boxes1 {
  /* padding-left: 20px; */
  margin: 10px;
}

.home_title {
  background: rgba(255, 240, 247, 0.7);
  width: 350px;
  height: 300px;
  color: #000;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.home_title:hover {
  background: rgba(24, 122, 207, 0.8);
  color: #fff;
}

@media screen and (max-width: 825px) {
  main {
    background-color: rgb(27, 11, 173);
  }
  .home_page {
    background-size: 150%;
  }
  .home-boxes {
    padding-top: 75%;
  }
}

/*/////////////*/
.quizzes_page {
  max-width: 1200px;
  /* background: rgb(166, 209, 253); */
  background: rgb(253, 251, 251);
  height: 100vh;
  height: 100%;
  margin: auto;
}

.quizzes_page h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.quizzes_boxes_wrapper {
  position: relative;
}

.quizzes_boxes {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}

.quizzes_boxes a {
  color: #000;
}

.quizzes_box {
  width: 450px;
  height: 200px;
  border-radius: 2px;
  margin: 10px;
  text-align: center;
}
/* 
.quizzes_box {
  cursor: pointer;
  background-color: transparent;
  height: 200px;
  perspective: 1000px;
  border: none;
} */

.quizzes_box_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.quizzes_box:hover .quizzes_box_inner {
  transform: rotateY(180deg);
}

.quizzes_box_front {
  /* background: #33b5e5; */
  background: #1fc0fa;
  /* background: #15b5f0; */
  /* color: white; */
  /* font-weight: 600; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.quizzes_box_front,
.quizzes_box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.quizzes_box_back {
  background: rgb(182, 207, 216);
  /* color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  /* padding: 40px; */
  transform: rotateY(180deg);
}

.quizzes_box_back p {
  padding: 5px;
}

/*/////////////*/
.grammar_page {
  background-image: url("./img/overview.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grammar-container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
}

.grammar-container1 {
  position: relative;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 30px;
}

.grammar-card {
  position: relative;
  max-width: 300px;
  height: 250px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.grammar-card:hover {
  height: 320px;
}

.imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
}

.imgBx img {
  width: 200px;
  height: 180px;
  border-radius: 4px;
}

.imgBx p {
  background: lightblue;
  width: 200px;
  height: 180px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grammar-content {
  position: relative;
  margin-top: -240px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.grammar-card:hover .grammar-content {
  visibility: visible;
  opacity: 1;
  margin-top: -100px;
  transition-delay: 0.3s;
}

/*//////////*/
.grammar-card1 {
  position: relative;
  max-width: 300px;
  height: 260px;
  /* background: gainsboro; */
  background: transparent;
  margin: 3px 3px;
  padding: 35px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
/* 
.grammar-card1:hover {
  height: 120px;
} */

.grammar-content1 {
  position: relative;
  width: 330px;
  height: 200px;
  /* margin-top: 110px; */
  margin-left: -32px;
  /* margin: auto; */
  padding: 10px;
  text-align: center;
  background-color: rgb(220, 225, 228);
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.grammar-card1:hover .grammar-content1 {
  visibility: visible;
  opacity: 1;
  /* margin-top: -62px; */
  margin-top: -23%;
  /* transition-delay: 0.3s; */
}

/*/////////////*/
/* .vocabulary_page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 100vh;
} */

.fce_practice_page {
  max-width: 1200px;
  background: rgb(136, 159, 189);
  height: 100vh;
  height: 100%;
  margin: auto;
}

.fce_practice_page h1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.fce_practice_boxes_wrapper {
  position: relative;
}

.fce_practice_boxes {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 54px;
}

.fce_practice_boxes a {
  color: #000;
  /* padding-top: 50px; */
}

.fce_practice_box {
  width: 450px;
  height: 250px;
  /* background: rgb(201, 154, 154); */
  padding: 15px;
  text-align: center;
  overflow: hidden;
}

.fce_practice_box_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.fce_practice_box:hover .fce_practice_box_inner {
  transform: rotateY(180deg);
}

.fce_practice_box_front {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 3px;
}

.fce_practice_box_front,
.fce_practice_box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fce_practice_box_back {
  border-radius: 10px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 20px;
  transform: rotateY(180deg);
}

.fce_practice_box_info {
  color: grey;
  font-size: 12px;
  background: transparent;
  /* margin-top: 10px; */
}

.fce_practice_box_info1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(231, 238, 245);
  width: 160px;
  margin: auto;
  border-radius: 4px;
  padding: 5px;
}

/* 
.fce_practice_box:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
} */
/* 
.vocabulary_box_info {
  padding: 10px;
  background: rgb(107, 171, 206);
  width: 300px;
} */

/*/////////////*/
.about_page {
  background-image: url("./img/overview.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/*/////////////*/
.contact_page {
  background-image: url("./img/londoneye.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/*////////////*/
.quizzes_page_quizzes {
  width: 1100px;
  background: rgb(181, 223, 252);
  /* position: relative; */
  /* background: white; */
  margin: auto;
  /* height: 100vh; */
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .quizzes_page_quizzes {
    width: 100%;
  }

  .trivia {
    padding-top: 100px;
  }
}

.quizzes_page_quizzes1 {
  margin: auto;
  /* background: rgb(181, 223, 252); */
  background: rgb(136, 159, 189);
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.quiz_sidebar {
  width: 200px;
  background: rgb(235, 241, 247);
  color: black;
  height: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
  font-size: 18px;
}

.quiz_sidebar h4 {
  margin-bottom: 50px;
  font-size: 20px;
}

.quiz_sidebar p {
  margin: 5px;
}

.quiz_sidebar a {
  color: rgb(34, 34, 34);
}
.quiz_sidebar .home {
  padding: 40px;
}

.quiz_sidebar a:hover {
  color: rgb(0, 140, 255);
}

.quiz_sidebar h6 {
  font-size: 10px;
  margin-left: -40px;
  color: grey;
}

.quiz_sidebar .prep {
  margin-left: -80px;
}

.quiz_sidebar .prep-center {
  margin: auto;
  font-size: 11px;
}

.quiz_sidebar h5 {
  margin: auto;
}

/* Quiz sidebar article test */
.quiz_sidebar1 {
  width: 200px;
  background: rgb(235, 241, 247);
  height: 100%;
  height: 85vh;
  text-align: center;
  padding-top: 90px;
  font-size: 18px;
  margin: 30px;
  margin-top: 30px;
  border-radius: 4px;
  border: 0.1rem solid rgb(199, 197, 197);
  top: 100px;
  position: sticky;
}

.quiz_sidebar1 h4 {
  margin-top: -90px;
  margin-bottom: 30px;
  font-size: 20px;
  height: 90px;
  background-color: var(--cl-primary-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz_sidebar1 p {
  margin: 5px;
  font-size: 18px;
}

.quiz_sidebar1 a {
  color: rgb(34, 34, 34);
}

.quiz_sidebar1 .home {
  padding: 40px;
}

.quiz_sidebar1 p:hover {
  background: var(--cl-primary-blue);
  color: white;
}

.quiz_sidebar1 h6 {
  font-size: 10px;
  margin-left: -40px;
  color: grey;
}

.quiz_sidebar1 .prep {
  margin-left: -80px;
}

.quiz_sidebar1 .prep-center {
  margin: auto;
  font-size: 11px;
}

.quiz_sidebar1 h5 {
  margin: auto;
}

@media screen and (max-width: 960px) {
  .quiz_sidebar1 {
    margin-left: -30px;
  }
}

/*/////////////////*/

.open-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.open-sidebar a {
  margin: 5px;
}

.is-active {
  font-weight: bold;
}

.text-sidebar {
  padding: -10px;
}

.quizzes_pre_quiz {
  margin: auto;
  font-size: 28px;
  font-weight: 600;
  margin-top: 25%;
}

.timer {
  margin-bottom: 30px;
}

/*///////////*/
/* Inner: front - back transform */
.card {
  cursor: pointer;
  background-color: transparent;
  height: 100px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}
