:root {
  /* colors */
  --cl-primary-blue: #1fc0fa;
  --cl-primary-darkblue: #045370;
  --cl-primary-lightgrey: #e7e6e6;

  --cl-secondary-lightgrey: #f5f5f5;
  --answer-red: rgb(250, 76, 111);
  --answer-green: rgb(126, 255, 126);
  /* font-size */
  --main-title: clamp(2.1rem, 2.5vw, 2.7rem);
  --section-title: clamp(1.5rem, 1.7vw, 1.9rem);
  --main-text: clamp(1.25rem, 1.4vw, 1.4rem);
  --section-text: clamp(1.1rem, 1.3vw, 1.3rem);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-size: "Segoe UI"; */
  width: 100%;
  background: #e7e6e6;
  /* background: yellow; */
  /* color: hsl(209, 61%, 16%); */
  /* line-height: 1.5rem; */
  /* font-size: 0.875rem; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* GENERAL STYLING IDEAS */
/* Navbar Background */
.fatline {
  width: 100%;
  height: 145px;
  background-image: url("./img/img-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navLine {
  width: 100%;
  height: 145px;
  background-image: url("./img/img-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*/////////////*/
.quizzes_page {
  width: 75%;
  background: rgb(253, 251, 251);
  height: 100vh;
  height: 100%;
  margin: auto;
}
@media screen and (max-width: 960px) {
  .quizzes_page{
    width: 100%;
  }
}

.quizzes_page h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.quizzes_boxes_wrapper {
  position: relative;
}

.quizzes_boxes {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}

.quizzes_boxes a {
  color: #000;
}

.quizzes_box {
  width: 450px;
  /* width: 80%; */
  height: 200px;
  border-radius: 2px;
  margin: 10px;
  text-align: center;
}

.quizzes_box_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.quizzes_box:hover .quizzes_box_inner {
  transform: rotateY(180deg);
}

.quizzes_box_front {
  background: #1fc0fa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.quizzes_box_front,
.quizzes_box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.quizzes_box_back {
  background-image: url("./img/stPaul.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transform: rotateY(180deg);
}

.quizzes_box_back p {
  padding: 5px;
  color: white;
  font-weight: 600;
}

.blur {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 560px){
  .quizzes_box{
    width: 80%;
    height: 140px;
  }
  .quizzes_box_back{
    font-size: 12px;
  }
  .quizzes_box_back p {
    /* width: 100%; */
    padding-left: 20px;
  }
  .blur{
    width: 80%;
  }
}


.fce_practice_page {
  max-width: 1200px;
  background: rgb(136, 159, 189);
  height: 100vh;
  height: 100%;
  margin: auto;
}

.fce_practice_page h1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.fce_practice_boxes_wrapper {
  position: relative;
}

.fce_practice_boxes {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 54px;
}

.fce_practice_boxes a {
  color: #000;
  /* padding-top: 50px; */
}

.fce_practice_box {
  width: 450px;
  height: 250px;
  /* background: rgb(201, 154, 154); */
  padding: 15px;
  text-align: center;
  overflow: hidden;
}

.fce_practice_box_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.fce_practice_box:hover .fce_practice_box_inner {
  transform: rotateY(180deg);
}

.fce_practice_box_front {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 3px;
}

.fce_practice_box_front,
.fce_practice_box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fce_practice_box_back {
  border-radius: 10px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 20px;
  transform: rotateY(180deg);
}

.fce_practice_box_info {
  color: grey;
  font-size: 12px;
  background: transparent;
  /* margin-top: 10px; */
}

.fce_practice_box_info1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(231, 238, 245);
  width: 160px;
  margin: auto;
  border-radius: 4px;
  padding: 5px;
}

/*/////////////*/
.about_page {
  background-image: url("./img/overview.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  height: 100%;
}

/*/////////////*/
.contact_page {
  background-image: url("./img/londoneyetiny.jpg");
  /* background-image: url("https://ik.imagekit.io/dionysischytiris/londoneyetiny_YnGziH-97.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1642507172494"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  animation: fade-in 2s;
}


.open-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.open-sidebar a {
  margin: 5px;
}

.is-active {
  font-weight: bold;
}

.text-sidebar {
  padding: -10px;
}

.quizzes_pre_quiz {
  margin: auto;
  font-size: 28px;
  font-weight: 600;
  margin-top: 25%;
}

.timer {
  margin-bottom: 30px;
}

/*///////////*/
/* Inner: front - back transform */
.card {
  cursor: pointer;
  background-color: transparent;
  height: 100px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

#myId{
  margin: 300px auto
}



/*/////////////*/
/* .grammar_page {
  background-image: url("./img/overview.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .grammar-container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
} */

/* .grammar-container1 {
  position: relative;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 30px;
} */

/* .grammar-card {
  position: relative;
  max-width: 300px;
  height: 250px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.grammar-card:hover {
  height: 320px;
} */

/* .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
}

.imgBx img {
  width: 200px;
  height: 180px;
  border-radius: 4px;
}

.imgBx p {
  background: lightblue;
  width: 200px;
  height: 180px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grammar-content {
  position: relative;
  margin-top: -240px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.grammar-card:hover .grammar-content {
  visibility: visible;
  opacity: 1;
  margin-top: -100px;
  transition-delay: 0.3s;
} */

/*//////////*/
/* .grammar-card1 {
  position: relative;
  max-width: 300px;
  height: 260px;
  background: transparent;
  margin: 3px 3px;
  padding: 35px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
} */
/* 
.grammar-card1:hover {
  height: 120px;
} */
/* 
.grammar-content1 {
  position: relative;
  width: 330px;
  height: 200px;
  margin-left: -32px;
  padding: 10px;
  text-align: center;
  background-color: rgb(220, 225, 228);
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
} */
/* 
.grammar-card1:hover .grammar-content1 {
  visibility: visible;
  opacity: 1;
  margin-top: -23%;
} */

/*////////////*/
/* .quizzes_page_quizzes {
  width: 1100px;
  background: rgb(181, 223, 252);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .quizzes_page_quizzes {
    width: 100%;
  }

  .trivia {
    padding-top: 100px;
  }
} */
/* 
.quizzes_page_quizzes1 {
  margin: auto;
  background: rgb(136, 159, 189);
  width: 1300px;
  display: flex;
  justify-content: space-between;
} */
/* 
.quiz_sidebar {
  width: 200px;
  background: rgb(235, 241, 247);
  color: black;
  height: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
  font-size: 18px;
}

.quiz_sidebar h4 {
  margin-bottom: 50px;
  font-size: 20px;
}

.quiz_sidebar p {
  margin: 5px;
}

.quiz_sidebar a {
  color: rgb(34, 34, 34);
}
.quiz_sidebar .home {
  padding: 40px;
}

.quiz_sidebar a:hover {
  color: rgb(0, 140, 255);
}

.quiz_sidebar h6 {
  font-size: 10px;
  margin-left: -40px;
  color: grey;
}

.quiz_sidebar .prep {
  margin-left: -80px;
}

.quiz_sidebar .prep-center {
  margin: auto;
  font-size: 11px;
}

.quiz_sidebar h5 {
  margin: auto;
} */

/* Quiz sidebar article test */
/* .quiz_sidebar1 {
  width: 200px;
  background: rgb(235, 241, 247);
  height: 100%;
  height: 85vh;
  text-align: center;
  padding-top: 90px;
  font-size: 18px;
  margin: 30px;
  margin-top: 30px;
  border-radius: 4px;
  border: 0.1rem solid rgb(199, 197, 197);
  top: 100px;
  position: sticky;
}

.quiz_sidebar1 h4 {
  margin-top: -90px;
  margin-bottom: 30px;
  font-size: 20px;
  height: 90px;
  background-color: var(--cl-primary-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* 
.quiz_sidebar1 p {
  margin: 5px;
  font-size: 18px;
}

.quiz_sidebar1 a {
  color: rgb(34, 34, 34);
}

.quiz_sidebar1 .home {
  padding: 40px;
}

.quiz_sidebar1 p:hover {
  background: var(--cl-primary-blue);
  color: white;
} */
/* 
.quiz_sidebar1 h6 {
  font-size: 10px;
  margin-left: -40px;
  color: grey;
}

.quiz_sidebar1 .prep {
  margin-left: -80px;
}

.quiz_sidebar1 .prep-center {
  margin: auto;
  font-size: 11px;
}

.quiz_sidebar1 h5 {
  margin: auto;
}

@media screen and (max-width: 960px) {
  .quiz_sidebar1 {
    margin-left: -30px;
  }
} */

/*/////////////////*/
